/* * {
  outline: 1px red solid;
} */

.clbread {
  font-size: 14px;
  color: #cdaa8a;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 1.8px;
}

.clbread:hover {
  color: #250404;
  text-decoration: none;
}

.clspan {
  color: #250404;
}

.hy-img > img {
  height: 64px;
}

.hy-form-img {
  width: 100px;
}

.hy-form i {
  color: #cdaa8a;
}

.hy-step-active {
  color: #cdaa8a;
}

.hy-form-border {
  border-bottom: #cdaa8a 1px solid;
}

.hy-py-48 {
  padding: 48px 0;
}

.hy-form {
  margin-top: 50px;
  padding: 15px 15px 0 15px;
  border: #cdaa8a solid 1px;
}

.form-row.hy-form-row {
  margin-right: -15px;
  margin-left: -15px;
}

.hy-form-row > .hy-form-col {
  padding-right: 15px;
  padding-left: 15px;
}
