h5 {
  font-family: "Noto Serif TC";
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 0px;
  font-weight: bold;
}

.btnText {
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 3px;
}

.breadcrumb {
  background: none;
  margin: 50px 0px;
  padding: 0px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "＞";
  font-size: 12px;
}

li.breadcrumb-item {
  padding: 0px !important;
}

li.breadcrumb-item a {
  font-size: 12px;
  text-decoration: none;
  color: #cdaa8a;
  font-family: "Noto Sans TC";
  letter-spacing: 3px;
}
li.breadcrumb-item span {
  font-family: "Noto Sans TC";
  letter-spacing: 3px;
  font-size: 12px;
}

.categoryGroup {
  background-color: #ffeed3;
  padding: 20px 0px;
  margin-bottom: 30px;
  color: #250404;
}
.categoryTitle {
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0px 30px;
}

.categoryBtn {
  padding: 10px 30px;
  background-color: #ffeed3;
  border: 0px;
  text-align: left;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 3px;
  cursor: pointer;
}

.categoryBtn:hover {
  background-color: #cdaa8a;
}

.categoryBtn.active {
  background-color: #cdaa8a;
}

.categoryRange {
  color: #250404;
  background-color: #ffeed3;
  padding: 20px 30px;
}

.categoryRange form h5 {
  margin-bottom: 6px;

}

#priceRangeMin {
  width: 40%;
  height: 46px;
  border-radius: 0;
  border: 1px solid #250404;
  padding-left: 15px;
  background: none;
  font-family: "Noto Sans TC";
  font-size: 14px;
  letter-spacing: 0.05rem;
}


#priceRangeMin:focus{
  outline: 0px;
}

#priceRangeMax{
  width: 40%;
  height: 46px;
  border-radius: 0;
  border: 1px solid #250404;
  padding-left: 15px;
  background: none;
  font-family: "Noto Sans TC";
  font-size: 14px;
  letter-spacing: 0.05rem;
}
#priceRangeMax:focus{
  outline: 0px;
}

.before::after{
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #250404;
  content: "～";
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;

}

.sortBar {
  background-color: #ffeed3;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.sortBar h5 {
  color: #250404;
  display: inline;
  font-weight: bold;
}

.sortBar ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sortBar ol li {
  display: inline;
}

.sortBar ol li a {
  text-decoration: none;
  color: #250404;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 3px;
}

.sortBar ol li a:hover {
  text-decoration: none;
  color: #cdaa8a;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 3px;
}

.sortBar ol li.active a {
  text-decoration: none;
  color: #250404;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
}

.sortItem + .sortItem::before {
  display: inline-block;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  color: #250404;
  content: "|";
}

.campaignCardBig {
  background-color: #ffeed3;
  margin-bottom: 30px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.campaignCardBig:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  transition-duration: 0.5s;
}

.cardBigImg {
  background-image: url("../img/CardBigImg.png");
  width: 40%;
  background-size: cover;
  overflow: hidden;
}

.cardBigText {
  width: 60%;
  padding: 30px;
}

.cardBigTag {
  width: 70px;
  height: 20px;
  background-color: #d67b76;
  margin-bottom: 10px;
  font-family: "Noto Sans TC";
  font-size: 10px;
  text-align: center;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.075rem;
}

.cardBigTitle {
  margin-bottom: 15px;
}

.cardBigContent > p {
  font-family: "Noto Serif TC";
  color: #636c72;
  font-size: 12px;
  letter-spacing: 0.075rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 15px;
}

.cardBigContent > .location {
  margin-bottom: 8px;
  font-family: "Noto Sans TC";
  font-weight: lighter;
  letter-spacing: 0.15rem;
}

.cardBigContent > .calendar {
  margin-bottom: 8px;
  font-family: "Noto Sans TC";
  font-weight: lighter;
  letter-spacing: 0.15rem;
}

.cardBigContent > .stars {
  font-size: 14px;
  color: #cdaa8a;
  letter-spacing: 1px;
}

