h2 {
    font-size: 30px;
    color: #cdaa8a;
    font-family: "Noto Serif TC";
    font-weight: bold;
  }

  p {
    font-size: 12px;
    letter-spacing: 0.1rem;
  }

  .navbar{
    height: 70px;}

  .heroImg{
    height: 300px;
  }