@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

h1 {
  font-size: 76px;
  font-family: "Noto Serif TC";
}

h2 {
  font-size: 48px;
  font-family: "Noto Serif TC";
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 36px;
  font-family: "Noto Serif TC";
}

h4 {
  font-size: 24px;
  font-family: "Noto Serif TC";
  letter-spacing: 0.1rem;
  line-height: 20px;
}

h5 {
  font-family: "Noto Serif TC";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}
h6 {
  font-family: "Noto Serif TC";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}
p {
  font-family: "Noto Serif TC";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}

a {
  font-family: "Noto Sans TC";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}
